<h1 class="pb-5">Dashboard Admin</h1>

<table class="table">
<thead class="thead-secundary">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Admin</th>
        <th colspan="3"></th>
    </tr>
</thead>

<tbody>
<% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %>
    </tr>
<% end %>
</tbody>
</table>